* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* .login-section {} */
.brand {
    /* border: 1px solid red; */
    text-align: center;
    font-size: 38px;
    padding: 20px;
    color: #052501;
}
.logincontainer {
    display: grid;
    grid-template-columns: auto auto;
    /* border: 1px solid green; */
    background-color: #ffffff;
    padding: 100px;
    padding-top: 0px;
    height: 71.7vh;
}
.loginimg {
    border: 5px solid #052501;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 80vh;
    
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        /* width: 80%;
        height:70vh; */
    }
    100% {
        transform: rotate(360deg);
        /* width: 90%;
        height:80vh; */
    }
}
.loginimg > img {
    /* border: 1px solid red; */
    width: 75%;
    height:65vh;
    margin-left: 60px;
    margin-top: 35px;
    display: inline-block;
    animation: rotate 10s linear infinite;
}
.loginform {
    border: 5px solid #052501;
    border-left: none;
    width:73vh;
    height:73vh;
    padding-top: 50px;
    background-color: #052501;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 60px;
    color: #052501;
}
.redirect {
    color: #115a07;
    padding-top: 2px;
}
.redirect > a {
    color: #115a07;
    font-weight: bold;
    /* text-decoration: none; */
}
.redirect > a:hover {
    color: #24aa12;
    font-weight: bold;
    transition: 2s ease-in-out;
    /* text-decoration: none; */
}

/* #text{
    font-family: "Neue Montreal";
    text-align: center;
    color: black;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
    visibility: hidden;
} */
.content{
    display: grid;
    grid-template-columns: 45% ;
}
#form{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 80px;
    height: 50vh;
    width: 300px;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    backdrop-filter: blur(80px);
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    outline: 0px;
    border: 2px solid whitesmoke;
}
#form > h2{    
    /* border: 1px solid; */
    margin-bottom: -15px;
    color: #0a4202;
    text-align: center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form{
    padding: 20px;
    padding-top: 30px;
}
.form >p{
    margin-top: -8px;
    margin-bottom: 10px;
}
label{
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
    color: #0a4202;
}
#row{
    display: flex;
}
input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 12px 0px;
    height: 30px;
    width: 300px;
    outline: none;
    padding: 5px;
    padding-left: 15px;
    border-radius: 15px;
}
input:focus, textarea:focus {
    border: 1px solid #052501;
    color: #3b3b3b;
}
input ::placeholder {
    color: #052501;
}
.btncontainer {
    text-align: center;
}
#btn{
    border-radius: 15px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: #0a4202;
    height: 35px;
    width: 220px;
    cursor: pointer;
    transition: 1s ease-in-out;
    /* border: 1px solid ; */
    margin-top: 8px;
}
#btn:hover{
    border: 1px solid black;
    background:#0f6407;
    color:white;
    font-weight: 600;
    transition: 1s ease-in-out;
}
#form, input:focus{outline:none}
/* ::placeholder{
    color: #0c3507;
} */
.error{
    text-align: center;
    color: #fff;
    border: 1px solid #888484;
    border-radius: 5px;
    background-color: #c92b2b;
    padding: 5px;
    font-size: 14px;
}
.error1{
    text-align: center;
    color: #fff;
    border: 1px solid #888484;
    border-radius: 5px;
    background-color: #c92b2b;
    padding: 5px;
    font-size: 12px;
    
}
.valid{
    text-align: center;
    color: #fff;
    border: 1px solid #888484;
    border-radius: 5px;
    background-color: green;
    padding: 5px;
    font-size: 14px;
}
.invalid{
    color: #d61a1a;
    font-size: 12px;
}
#loadingPage {
    display: none;
    background-color: #fdfdfd;
    height: 99vh;
    padding: 70px 430px;
}
#content {
    display: block;
}



@media only screen and (max-width: 600px) {
    #form{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        height: 80vh;
        width: 300px;
        margin: 0px auto;
        max-width: 400px;
        padding: 20px;
        /* background-color: white; */
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        /* color: #5b5b5b; */
    }
    .form{
        margin: 0px;
    }
    #btn{
        margin-bottom: 10px;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        border: none;
        /* background-color: #0636b1; */
        height: 35px;
        width: 110px;
        cursor: pointer;
    }
}